################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build/Debug/netcoreapp2.0
/HalfShot.MagnetHS/.vs/HalfShot.MagnetHS/v15
/HalfShot.MagnetHS/build/Debug/netcoreapp2.0
/HalfShot.MagnetHS/CommonStructures/bin/Debug/netcoreapp2.0
/HalfShot.MagnetHS/CommonStructures/obj/Debug/netcoreapp2.0
/HalfShot.MagnetHS/CommonStructures/obj/Release/netcoreapp2.0
/HalfShot.MagnetHS/CommonStructures/obj
/HalfShot.MagnetHS/DataTransformer/bin/Debug/netcoreapp2.0
/HalfShot.MagnetHS/DataTransformer/obj/Debug/netcoreapp2.0
/HalfShot.MagnetHS/DataTransformer/obj/Release/netcoreapp2.0
/HalfShot.MagnetHS/DataTransformer/obj
/HalfShot.MagnetHS/MagnetHS/obj
/HalfShot.MagnetHS/MessageQueue/Connector/bin/Debug/netcoreapp2.0
/HalfShot.MagnetHS/MessageQueue/Connector/obj
/HalfShot.MagnetHS/MessageQueue/MessageQueue/bin/Debug/netcoreapp2.0
/HalfShot.MagnetHS/MessageQueue/MessageQueue/obj
/HalfShot.MagnetHS/MessageQueue/ZeroMQ/bin/Debug/netcoreapp2.0
/HalfShot.MagnetHS/MessageQueue/ZeroMQ/obj
/HalfShot.MagnetHS/Services/ClientServerAPIService/obj
/HalfShot.MagnetHS/Services/ConfigurationService/bin/Debug/netcoreapp2.0
/HalfShot.MagnetHS/Services/ConfigurationService/obj
/HalfShot.MagnetHS/Services/DatastoreService/obj
/HalfShot.MagnetHS/Services/RoomService/obj
/HalfShot.MagnetHS/Services/UserService/obj
/HalfShot.MagnetHS/Tests/bin/Debug/netcoreapp2.0
/HalfShot.MagnetHS/Tests/obj
/HalfShot.MagnetHS/Services/ConfigurationService
