################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HalfShot.MagnetHS/build
/HalfShot.MagnetHS/.vs/HalfShot.MagnetHS/v15
/HalfShot.MagnetHS/**/obj
/HalfShot.MagnetHS/**/bin

# Files
*.dll
*.deps
*.runtimeconfig
*.pdb
*.cache
*.dev.json
*.deps.json

# Do not store ide settings
/HalfShot.MagnetHS/.idea/
